/**? font wali property almost parent se inherit hoti hai ; */
body{
    color: green;
}
ul{
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    font-style: italic;
}
button{
    background-color: aquamarine;
    font-size: 30px;
    color: rgb(3, 56, 56);
    font-family: cursive;
    font-style: italic;
    border-radius: 10px;
}