*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    background-color: green;
    width: 200px;
    height: 100px;
    padding: 59px;
    border: 5px solid yellowgreen;
    margin: 25px;
    font-size: large;
    color: aqua;

}

.html{
    padding: 20px;
    width: 300px;
    background-color: aquamarine;
    outline: 4px solid yellow;
    margin: 50px;
    border: 2px solid blue;
}
div{
    padding: 25px;
    background-color: bisque;
}

/**? span tag (inline level element ) par height or width kam nahi karthi 
**> padding karti hai . only left and right
**> margin bhi left and right kam karta hai top and bottom me element ko push nahi karta
**> outline bhi easily kaam karta hai .   */